<div>
    <div>
      <div>
        <!--Sidebar content-->
  
        <p>
          Enter Employee ID:
          <input ng-model="$ctrl.query" value = "106XXXX" />
        </p>
  
        <p>
          Sort by:
          <select ng-model="$ctrl.orderProp">
            <option value="empID">ID</option>
            <option value="salary">Salary</option>
          </select>
        </p>
  
      </div>
      <div>
        <!--Body content-->
  
        <ul class="employees">
          <li ng-repeat="employee in $ctrl.employees | filter:$ctrl.query | orderBy:$ctrl.orderProp">
            <span>{{Employee.name}}</span>
            <p>{{Employee.empID}}</p>
            <p>{{Employee.salary}}</p>
          </li>
        </ul>
  
      </div>
    </div>
  </div>
  